@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #e8e8fd;
  position: relative;
  height: 1200px;
}

#left-rectangle {
  width: 276px;
  height: 1009px;
  left: 79px;
  top: 108px;
  position: absolute;

  background: #ee4d38;
  border-radius: 46px;
}

#container {
  position: absolute;
  width: 1319px;
  height: 879px;
  left: 140px;
  top: 160px;

  border-radius: 30px;
  background: #ffffff;
}

/* Side Panel */
#rectangle {
  position: absolute;
  width: 1319px;
  height: 879px;
  left: 0px;
  top: 0px;

  background: linear-gradient(304.24deg, #f8f8ff 0%, #ffffff 86.71%);
  box-shadow: 0px 49px 32px -19px rgba(56, 56, 150, 0.15);
  border-radius: 32px;
}
#menu {
  position: absolute;
  width: 292px;
  height: 879px;
  left: 0px;
  top: 0px;

  background: #f8f8ff;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}

#menu-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;
  gap: 8px;

  position: absolute;
  width: 260px;
  height: 272px;
  left: 0px;
  top: 162px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 228px;
  height: 48px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 8px 8px 16px;
  gap: 10px;

  width: 222px;
  height: 32px;
}

.container p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #62618f;
}

.side-border {
  width: 6px;
  height: 48px;

  border-radius: 24px;
}

#user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 14px;

  position: absolute;
  width: 178px;
  height: 55px;
  left: 38px;
  top: 58px;
}

#user-info img {
  width: 55px;
  height: 55px;

  background: url(image.png);
  border-radius: 17px;
}

#username {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 109px;
  height: 45px;
}

#name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  color: #1a194d;
}

#user {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #62618f;
}

#logout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 260px;
  height: 48px;
  left: 0px;
  top: 802px;
}

/* Main Panel */

h2 {
  position: absolute;
  left: 332px;
  top: 65px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;

  color: #1a194d;
}

#frame-10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  position: absolute;
  width: 313px;
  height: 49px;
  left: 332px;
  top: 162px;
}

#frame-10 h3,
p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  color: #1a194d;
}

#frame-10 p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: #62618f;
}

#billing-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  position: absolute;
  width: 617px;
  height: 261px;
  left: 316px;
  top: 261px;
}

#head {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 16px;
  gap: 168px;

  width: 555px;
  height: 21px;
}

#head p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #62618f;
}

#row-1,
#row-2,
#row-3,
#row-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 114px;

  border-radius: 8px;
}

#row-2 {
  background: #ffffff;
  box-shadow: 0px 8px 19px rgba(223, 223, 253, 0.6);
}

#row-1 p,
#row-2 p,
#row-3 p,
#row-4 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #1a194d;
}

#button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 10px;
  border: 1px solid #cbcbd9;
  border-radius: 8px;
}

.load-more a {
  position: absolute;
  left: 328px;
  top: 538px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #ee4d38;
}

#frame-13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  position: absolute;
  left: 332px;
  top: 643px;
}

#frame-13 h3,
p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  color: #1a194d;
}

#frame-13 p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: #62618f;
}

#visa {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  position: absolute;
  left: 332px;
  top: 714px;
}

#visa p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1a194d;
}

#card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 16px;

  position: absolute;
  width: 258px;
  height: 190px;
  left: 950px;
  top: 162px;

  background: #ee4d38;
  box-shadow: 0px 8px 19px rgba(223, 223, 253, 0.6);
  border-radius: 16px;
}

#card p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}

#plan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}

#plan {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;

  color: #ffffff;
}

#plan p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;
}

#sub {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 10px;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

#sub p{
  
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;

}
